# OS specific files
*.swp
.DS_Store

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Transmission
.deps/
/INSTALL
/aclocal.m4
/autom4te.cache/
/cli/transmission-cli
/config.guess
/config.log
/config.status
/config.sub
/configure
/transmissionbt/daemon/transmission-daemon
/transmissionbt/daemon/transmission-remote
/transmissionbt/depcomp
/transmissionbt/gtk/tr-core-dbus.h
/transmissionbt/gtk/transmission-gtk
/transmissionbt/gtk/transmission-gtk.desktop
/transmissionbt/install-sh
/transmissionbt/libtool
/transmissionbt/libtransmission/*-test
/transmissionbt/libtransmission/test-peer-id
/transmissionbt/libtransmission/version.h
/transmissionbt/ltmain.sh
/transmissionbt/m4/intltool.m4
/transmissionbt/m4/libtool.m4
/transmissionbt/m4/ltoptions.m4
/transmissionbt/m4/ltsugar.m4
/transmissionbt/m4/ltversion.m4
/transmissionbt/m4/lt~obsolete.m4
/transmissionbt/missing
/transmissionbt/mkinstalldirs
/transmissionbt/po/*.gmo
/transmissionbt/po/.intltool-merge-cache
/transmissionbt/po/Makefile.in.in
/transmissionbt/po/POTFILES
/transmissionbt/po/stamp-it
/transmissionbt/qt/moc_*.cpp
/transmissionbt/qt/qrc*.cpp
/transmissionbt/qt/qrc_application.cpp
/transmissionbt/qt/qtr.pro.user
/transmissionbt/qt/translations/*.qm
/transmissionbt/qt/transmission-qt
/transmissionbt/qt/ui_*.h
/transmissionbt/qt/ui_mainwin.h
/transmissionbt/transmission-gtk.spec
/transmissionbt/utils/transmission-create
/transmissionbt/utils/transmission-edit
/transmissionbt/utils/transmission-show
Makefile
Makefile.in

# Documentations
doxygen*
